# Configuración de la base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sensores_aduaneros
DB_USER=postgres
DB_PASSWORD=123


# Puerto del servidor Express
PORT=3000

# Sensores
SENSOR_USERNAME=admin
SENSOR_PASSWORD=123456789
BACKEND_URL=http://localhost:3000
