*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --mainBlue: #0e1624;
    --backgroundBlue: #141f33;
    --cardBlue: #090f1a;
}

main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: .2fr 4fr;
    grid-template-rows: .1fr 4fr;
    background-color: var(--cardBlue);
    color: white;
    overflow: hidden;
}

header{
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--backgroundBlue);
}

nav{
    background-color: var(--backgroundBlue);
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

nav ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

nav ul a{
    color: white;
    text-decoration: none;
}

#dashboard-main-section-panel{
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    height: 100%;
    padding: 15px;
    overflow-y: auto;
}

.spanCol2{
    grid-column: span 2;
}

.spanRow2{
    grid-row: span 2;
}